  @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;1,600&display=swap');

body {
    background-color: #333;
}
  .header{
    text-align: center;
  }

  .header-img{
    display: flex;
    text-align: center;
    align-items: center;
    
  }
  .header__title {
    font-family:  'Chivo Mono', monospace;
    font-size: 30px;
  }

  .header__logo {
    width: 100px;
    margin-left: 20px;
    
  }

  .header__title {
    color: #fafafa;
  }

  .comands {
    text-align: center;
  }

.list-git {
    list-style: none;
    font-family: 'Chivo Mono', monospace;
    color: #111;
}

.list-p {
    margin-top: 3px;
    font-size: 18px;
    color: #4078c0;
}

i {
    font-size: 22px;
    color: black;
}